<!DOCTYPE html>
{% load static %}
<html style="height: 100%;">

<head>
  <title>IRMTech</title>
  <!-- RESPONSIVE LAYOUT -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">

  <!-- STYLESHEET -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/IRMGlowDark.css' %}">

  <!-- dark -->
  
  <!-- Font STYLESHEET -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Audiowide|Faster+One|Hanalei+Fill|Iceland|Josefin+Sans|Play|Racing+Sans+One|Wallpoet|Frosw|Righteous|Jura&display=swap">
  <!-- <link rel="stylesheet" href="FROSW/font.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</script>

</head>
<body style="font-family: Arial, Helvetica, sans-serif;  background-image: linear-gradient(to bottom, #181e2b,rgb(0, 52, 95));
min-height: 100%; max-height: fit-content;">
  
<div class="row" style="border-radius:3px;color: aliceblue; width: fit-content; padding: 60px 30px; margin: auto; margin-top: 150px; margin-bottom: auto; background-image: linear-gradient(to right, #fc5a5a1e, rgba(255, 230, 0, 0.096) ); box-shadow: 0px 3px 5px black;">
  <a class="storelink" style="margin: 0 0; padding: 0 0;" href="{% url 'tech_shelter' %}">
    <h1 class="logotext" style="font-size: 50px; padding: 0 0; margin: 0 0; text-align: center;"> TECHSHELTER </br><span style="padding-top: 0px; padding-bottom: 5px; font-family: 'Jura';font-size: 23.25px;"> O n l i n e &nbsp; T e c h s t o r e </span></h1>
  </a>

  {% block content %}

  {% endblock content %}


</div>

</body>

</html>