{% extends 'TechShelterApp/actionpage.html' %}
{% load static %}
{% block content %}

<h1  class="pagename" style="text-align: center;">ADD NEW TECH ITEM</h1>

<form method="POST" enctype="multipart/form-data" style="color:rgb(0, 123, 206);">
    {% csrf_token %}
    {{form}}
  
    <input type="submit" name="Submit" value="Add" class="btn btn-primary" style="margin-top: 20px;margin-bottom: 0px;">

</form>
<!-- {% if image %}
uploaded image at
<a href="{{image}}">{{image}}</a>
{% endif %}   -->
{% endblock content %}