{% extends 'TechShelterApp/main.html' %}
{% load static %}
{% block content %}

<div class="item_div">

    {% if logged_in_user == user %}
    <h1 class="pagename">MY TECHSHELTER STALL</h1>
    {% else %}
    <h1 class="pagename" style="text-transform: uppercase;">{{user.username}}'s TECHSHELTER STALL</h1>
    {% endif %}
    <div style="padding: 15px; margin-top: 40px; color: rgb(185, 185, 185);">
    <img src="{{user.imageURL}}"
        style="width:200px;height:200px; border-radius: 50%; float: left;position:sticky;"></img>
    <h1
        style="float: left; margin-top:0px; padding-left:50px; color:rgb(255, 255, 255); text-shadow: 0px 0px 2px rgb(247, 247, 247), 0px 0px 4px rgb(255, 255, 255), 0px 0px 8px rgba(255, 255, 255, 0.685), 0px 0px 30px rgba(255, 255, 255, 0.548);">
        {{user.username}}</h1>
    </br>
    <h3 style="padding-top: 13px;padding-left: 250px;">{{user.get_full_name}}</h3>
    <h4 style="padding-top: 7px;padding-left: 250px;">
        {% if user.is_superuser %}Administrator
        {% elif not user.is_superuser and user.is_staff %}Manager
        {% else %}{{user.usertype}}
        {% endif %}</h4>
        
    <h5 style="padding-top: 13px;padding-left: 250px;">Date Joined: {{user.date_joined}}</h5>
    <h5 style="padding-top: 0px;padding-left: 250px;">Email: {{user.email}}</h5>
    <h5 style="padding-top: 0px;padding-left: 250px;">Location: {{user.location}}</h5>
    
    {% if logged_in_user == user %}
    <br>
    <a class="menu_link" href="{% url 'editprofile' logged_in_user.id %}" style="margin: 30px;margin-top: 30px; margin-left: 35px;">Edit My Profile</a>
    <a class="menu_link" href="{% url 'manage_my_techs' %}" style="margin: 30px; margin-left: 55px;">Manage My Techs</a>
    <br><br><br>
    {% endif %}
    <br><br>
    </div>
    
    <div class="itemsrow">


        {% for tech in techs %}
        <div class="itemscol" style="margin: 0px; overflow: visible; padding: 10px;">
       
                <!-- IMAGE & NAME -->
                <div style="height: 100px; width: 100%; clear: both; position: relative; text-align: left;"> 
                    <img src="{{tech.pictureURL}}" style="height: 100%; width:100% ;"></img>
                    <div style="position: absolute; bottom: 2px; left: 5px;">
                        <h3 class="techname" style="float: left; font-size: 17px; padding-top: 0px; margin-top: 0px; margin-bottom: 5px; text-shadow: 0px 0px 1px black, 0px 0px 4px black, 0px 0px 6px black;">
                            <strong>{{tech.techname}}</strong></h3>
                    </div>
                </div>


                <div style="height: fit-content; width: 100%; margin: 5px 0px; background-color: rgba(255, 136, 0, 0);clear: both;position: relative; overflow: hidden;">
                    <!-- SELLER NAME or USERNAME OF THE USER WHO ADDED THE TECH ITEM -->
                    
                    <!-- HINT FOR SEEING DETAIL -->
                    <div style="position: relative; overflow: hidden; width:50%; height:fit-content; background-color:rgba(255, 255, 255, 0);clear: both; float: right;">
                        <a href="{% url 'tech_detail' tech.id %}" style="padding: 0%;"><i class="hint">click for detail</i></a>
                    </div>
                    <div style="position: absolute; overflow: hidden; width:50%; height:fit-content; background-color: rgba(0, 255, 255, 0); clear: both; padding-top: 5px;">
                        <p style="float: left; text-align: left; color: rgb(167, 167, 167); font-size:small; margin: 0%; padding: 0%;padding-top: 2px; padding-right: 2px;">by </p>{% if tech.seller.id != null %}<a href="{% url 'user_tech_shelter' tech.seller.id %}" style="text-decoration: none;color: rgb(0, 96, 141);margin: 0%; padding: 0%;float: left;">{{tech.seller}}</a>{% else %}Unknown{% endif %}
                    </div>
                    <div style="position: relative;background-color: rgba(0, 255, 255, 0); width: 100%; height:fit-content; float: left; margin-top: 20px;">

                        <!-- BUTTON TO ADD ITEM TO CART -->
                        {% if request.user.is_authenticated and not logged_in_user.usertype == 'Seller' %}
                        <button data-tech={{tech.id}} data-action="add" class="pluscart update-cart">
                            <i class="fa fa-cart-plus" style="font-size: 20px;"></i></button>
                        {% elif not request.user.is_authenticated %}
                        <a class="guestpluscart" href="{% url 'login' %}"><i class="fa fa-cart-plus logincart" style="font-size: 20px; "></i></a>
                        {% endif %}
                            <!-- TECH ITEM'S PRICE -->
                        <h3 class="pricetag">৳{{tech.price}}</h3>
                    </div>

                </div>


            


        </div>
        {% endfor %}


    </div>


</div>

{% endblock content %}