{% extends 'TechShelterApp/main.html' %}
{% load static %}
{% block content %}

<h1 class="pagename">TECH DETAIL</h1>

<div class="row" style="margin: 0px 0px;">
	<div class="col-lg-6">

		<img src="{{this_tech.pictureURL}}" style="width:100% ; "></img>
	</div>

	<div class="col-lg-6">
		<h1
			style="float: left;padding-left:7px; padding-bottom: 25px;  color:rgb(255, 255, 255); text-shadow: 0px 0px 2px rgb(247, 247, 247), 0px 0px 4px rgb(255, 255, 255), 0px 0px 8px rgba(255, 255, 255, 0.685), 0px 0px 30px rgba(255, 255, 255, 0.548); ;">
			{{this_tech.techname}}</h1>
		</br></br></br></br></br></br>
		<h2
			style="background-color:rgba(255, 0, 0, 0); width:fit-content; float: left; text-align: left; color: rgb(167, 167, 167);">
			Seller: <a href="{% url 'user_tech_shelter' this_tech.seller.id %}" style="text-decoration: none;"><i
					style="color: rgb(0, 129, 204);">
					{{this_tech.seller}} </h2> </i></a>
		</br></br></br></br>
		<h3 class="pricetag" style="float: left;">৳{{this_tech.price}}</h3>
		</br></br></br></br>

		<!-- BUTTON TO ADD ITEM TO CART -->
		{% if request.user.is_authenticated and not logged_in_user.usertype == 'Seller' %}
		<button data-tech={{this_tech.id}} data-action="add" class="pluscart update-cart" style="height: fit-content; width: fit-content; padding: 2px 15px;"> <i class="fa fa-cart-plus" style="font-size: 20px;"> Add to Cart</i></button>
		{% elif not request.user.is_authenticated %}
		<a class="pluscart" href="{% url 'login' %}" style="height: fit-content; width: fit-content; padding: 2px 15px;"><i class="fa fa-cart-plus"
				style="font-size: 20px; ">Add to Cart</i></a>
		{% endif %}



	</div>
</div>

{% endblock content %}